.checkbox {
  display: flex;
  width: 100%;
  height: 100%;
}
.checkbox input[type='checkbox'] {
  cursor: pointer;
  display: none;
  opacity: 0;
  position: absolute;
}
.checkbox label {
  cursor: pointer;
  display: flex;
  align-items: center;
  margin-bottom: 0px;
}
.checkbox label::before {
  content: '';
  width: 14px;
  height: 14px;
  border-radius: 2px;
  border: 1px solid #ff6b01;
}
.checkbox input:checked + label::before {
  content: '\2713';
  background: #ff6b01;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.checkbox label:hover::before,
.checkbox input[type='checkbox']:hover + label::before {
  background: #df9661;
}
